body{background-color:#e2e7ec;}
.rad{border-radius: 18px;}
nav{font-weight: bolder;}
.carousel-item{margin-bottom: 5px;}
p{color:#28a745;font-weight: bolder;}
video{margin: auto;width: 100%;max-height: 75vh;}
input{margin-bottom: 5px;}
.img{max-height: 75vh;margin: auto;}
@media (min-width:768px){.img{width: 50%;}.container{max-width: 50%;}}
@media (max-width:767px)    AND  (min-width:316px){.img{width: 75%}}
@media(max-width:315px){.img{width: 100%;}}